.pattern {
    background-image: url(../img/pattern.png);
    background-color: #0099ff;
    width: 100%;
}

.text-grey{
    color:grey;
    padding-bottom: 20px;
}

h1{
    margin-bottom: 0;
}

.logo{
    width: 150px;
    height: 75px;
}

.evidenziato{
    background-color: yellow;
}

ul{
    padding: 15px;
}

table{
  width: 100%;
  Border-collapse:collapse
  
}

th, td{
    width: 20px;
}

thead{
    background-color: rgb(0, 132, 255);
}

.cyan{
    background-color: cyan;
}